In [2]:
import pandas as pd
import numpy as np

In [3]:
pop = pd.read_excel('world_pop.xls',sheet_name='Data')

In [5]:
pop_bk = pop.copy(deep=True)

In [6]:
pop.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Last Updated Date,2022-04-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
3,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
4,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0

In [7]:
pop.drop([0,1], inplace=True)
pop.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
2,Country Name,Country Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
3,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
4,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
5,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
6,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0

In [9]:
years = list (pop.loc[2][2:].apply(lambda x: int(x)))
years[:5]

[1960, 1961, 1962, 1963, 1964]

In [10]:
columns = list(pop.loc[2][:2])
columns.extend(years)
pop.columns = columns
pop.columns[:7]

Index(['Country Name', 'Country Code', 1960, 1961, 1962, 1963, 1964], dtype='object')

In [140]:
pop.head(2)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
2,Country Name,Country Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
3,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0

In [11]:
pop.drop(2,inplace=True)

In [12]:
pop = pop.rename(columns = {'Country Name' : 'Country'})

In [13]:
pop.head()

,Country,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
3,Aruba,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
4,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
5,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
6,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
7,Angola,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [14]:
pop.index = pop['Country']
pop.index.name = 'Country name'

In [15]:
pop.drop(['Country', 'Country Code'], axis=1, inplace=True)

In [16]:
pop.head(2)

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country name,,,,,,,,,,,,,,,,,,,,,
Aruba,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,58377.0,58734.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
Africa Eastern and Southern,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,161156430.0,165611760.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0

In [101]:
europe = 'Spain France Portugal Germany Italy Greece Poland Hungary Bulgary Romania'.split()

In [156]:
is_european_country = pop.index.isin(europe)
europe_pop = pop.loc[is_european_country]

In [157]:
europe_pop

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country name,,,,,,,,,,,,,,,,,,,,,
Germany,72814900.0,73377632.0,74025784.0,74714353.0,75318337.0,75963695.0,76600311.0,76951336.0,77294314.0,77909682.0,...,80274983.0,80425823.0,80645605.0,80982500.0,81686611.0,82348669.0,82657002.0,82905782.0,83092962.0,83240525.0
Spain,30455000.0,30739250.0,31023366.0,31296651.0,31609195.0,31954292.0,32283194.0,32682947.0,33113134.0,33441054.0,...,46742697.0,46773055.0,46620045.0,46480882.0,46444832.0,46484062.0,46593236.0,46797754.0,47133521.0,47351567.0
France,46621688.0,47240526.0,47904879.0,48582624.0,49230585.0,49818019.0,50330268.0,50775788.0,51175507.0,51561833.0,...,65342789.0,65659814.0,65998685.0,66312067.0,66548272.0,66724104.0,66918020.0,67101930.0,67248926.0,67391582.0
Greece,8331725.0,8398050.0,8448233.0,8479625.0,8510429.0,8550333.0,8613651.0,8684088.0,8740765.0,8772764.0,...,11104899.0,11045011.0,10965211.0,10892413.0,10820883.0,10775971.0,10754679.0,10732882.0,10721582.0,10715549.0
Hungary,9983967.0,10029321.0,10061734.0,10087947.0,10119835.0,10147935.0,10178653.0,10216604.0,10255815.0,10298723.0,...,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9814023.0,9787966.0,9775564.0,9771141.0,9749763.0
Italy,50199700.0,50536350.0,50879450.0,51252000.0,51675350.0,52112350.0,52519000.0,52900500.0,53235750.0,53537950.0,...,59379449.0,59539717.0,60233948.0,60789140.0,60730582.0,60627498.0,60536709.0,60421760.0,59729081.0,59554023.0
Poland,29637450.0,29964000.0,30308500.0,30712000.0,31139450.0,31444950.0,31681000.0,31987155.0,32294655.0,32548300.0,...,38063255.0,38063164.0,38040196.0,38011735.0,37986412.0,37970087.0,37974826.0,37974750.0,37965475.0,37950802.0
Portugal,8857716.0,8929316.0,8993985.0,9030355.0,9035365.0,8998595.0,8930990.0,8874520.0,8836650.0,8757705.0,...,10557560.0,10514844.0,10457295.0,10401062.0,10358076.0,10325452.0,10300300.0,10283822.0,10286263.0,10305564.0
Romania,18406905.0,18555250.0,18676550.0,18797850.0,18919126.0,19031576.0,19215450.0,19534242.0,19799831.0,20009141.0,...,20147528.0,20058035.0,19983693.0,19908979.0,19815616.0,19702267.0,19588715.0,19473970.0,19371648.0,19286123.0

In [159]:
# transpose the dataframe
europe_pop = europe_pop.T
europe_pop.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country name,,,,,,,,,,,,,,,,,,,,,
Germany,72814900.0,73377632.0,74025784.0,74714353.0,75318337.0,75963695.0,76600311.0,76951336.0,77294314.0,77909682.0,...,80274983.0,80425823.0,80645605.0,80982500.0,81686611.0,82348669.0,82657002.0,82905782.0,83092962.0,83240525.0
Spain,30455000.0,30739250.0,31023366.0,31296651.0,31609195.0,31954292.0,32283194.0,32682947.0,33113134.0,33441054.0,...,46742697.0,46773055.0,46620045.0,46480882.0,46444832.0,46484062.0,46593236.0,46797754.0,47133521.0,47351567.0
France,46621688.0,47240526.0,47904879.0,48582624.0,49230585.0,49818019.0,50330268.0,50775788.0,51175507.0,51561833.0,...,65342789.0,65659814.0,65998685.0,66312067.0,66548272.0,66724104.0,66918020.0,67101930.0,67248926.0,67391582.0
Greece,8331725.0,8398050.0,8448233.0,8479625.0,8510429.0,8550333.0,8613651.0,8684088.0,8740765.0,8772764.0,...,11104899.0,11045011.0,10965211.0,10892413.0,10820883.0,10775971.0,10754679.0,10732882.0,10721582.0,10715549.0
Hungary,9983967.0,10029321.0,10061734.0,10087947.0,10119835.0,10147935.0,10178653.0,10216604.0,10255815.0,10298723.0,...,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9814023.0,9787966.0,9775564.0,9771141.0,9749763.0

### Spanish population growth in the 21st century

In [180]:
europe_21st = europe_pop[list(np.arange(2000,2021))].T
europe_21st.index.name = 'Year'
europe_21st

Country name,Germany,Spain,France,Greece,Hungary,Italy,Poland,Portugal,Romania
Year,,,,,,,,,
2000,82211508.0,40567864.0,60912500.0,10805808.0,10210971.0,56942108.0,38258629.0,10289898.0,22442971.0
2001,82349925.0,40850412.0,61357432.0,10862132.0,10187576.0,56974100.0,38248076.0,10362722.0,22131970.0
2002,82488495.0,41431558.0,61805266.0,10902022.0,10158608.0,57059007.0,38230364.0,10419631.0,21730496.0
2003,82534176.0,42187645.0,62244880.0,10928070.0,10129552.0,57313203.0,38204570.0,10458821.0,21574326.0
2004,82516260.0,42921895.0,62704901.0,10955141.0,10107146.0,57685327.0,38182222.0,10483861.0,21451748.0
2005,82469422.0,43653155.0,63179356.0,10987314.0,10087065.0,57969484.0,38165445.0,10503330.0,21319685.0
2006,82376451.0,44397319.0,63621376.0,11020362.0,10071370.0,58143979.0,38141267.0,10522288.0,21193760.0
2007,82266372.0,45226803.0,64016227.0,11048473.0,10055780.0,58438310.0,38120560.0,10542964.0,20882982.0
2008,82110097.0,45954106.0,64374979.0,11077841.0,10038188.0,58826731.0,38125759.0,10558177.0,20537875.0
2009,81902307.0,46362946.0,64707035.0,11107017.0,10022650.0,59095365.0,38151603.0,10568247.0,20367487.0
2010,81776930.0,46576897.0,65027505.0,11121341.0,10000023.0,59277417.0,38042794.0,10573100.0,20246871.0
2011,80274983.0,46742697.0,65342789.0,11104899.0,9971727.0,59379449.0,38063255.0,10557560.0,20147528.0
2012,80425823.0,46773055.0,65659814.0,11045011.0,9920362.0,59539717.0,38063164.0,10514844.0,20058035.0
2013,80645605.0,46620045.0,65998685.0,10965211.0,9893082.0,60233948.0,38040196.0,10457295.0,19983693.0
2014,80982500.0,46480882.0,66312067.0,10892413.0,9866468.0,60789140.0,38011735.0,10401062.0,19908979.0
2015,81686611.0,46444832.0,66548272.0,10820883.0,9843028.0,60730582.0,37986412.0,10358076.0,19815616.0
2016,82348669.0,46484062.0,66724104.0,10775971.0,9814023.0,60627498.0,37970087.0,10325452.0,19702267.0
2017,82657002.0,46593236.0,66918020.0,10754679.0,9787966.0,60536709.0,37974826.0,10300300.0,19588715.0
2018,82905782.0,46797754.0,67101930.0,10732882.0,9775564.0,60421760.0,37974750.0,10283822.0,19473970.0
2019,83092962.0,47133521.0,67248926.0,10721582.0,9771141.0,59729081.0,37965475.0,10286263.0,19371648.0
2020,83240525.0,47351567.0,67391582.0,10715549.0,9749763.0,59554023.0,37950802.0,10305564.0,19286123.0

In [202]:
def growth(country_pop):
    initial_pop = country_pop.iloc[0]
    final_pop = country_pop.iloc[-1]
    return (final_pop - initial_pop) / initial_pop * 100
print('European countries population growth along the 21st century:')
pop_growth_21st_cent = europe_21st.apply(growth).sort_values()
pop_growth_21st_cent = pop_growth_21st_cent.apply(lambda x: f'{x:.2f} %')
pop_growth_21st_cent.name = '21st cent pop growth'
pop_growth_21st_cent.index.name = 'Country'
pop_growth_21st_cent

European countries population growth along the 21st century:

Country
Romania     -14.07 %
Hungary      -4.52 %
Greece       -0.84 %
Poland       -0.80 %
Portugal      0.15 %
Germany       1.25 %
Italy         4.59 %
France       10.64 %
Spain        16.72 %
Name: 21st cent pop growth, dtype: object

In [37]:
#pd.options.display.float_format = '{:,.2f}'.format

In [31]:
df = pd.read_csv('poblacion_platzi.csv')

In [33]:
df.head()

          Country  year         pop
0     Afghanistan  2015  34413603.0
1         Albania  2015   2880703.0
2         Algeria  2015  39728025.0
3  American Samoa  2015     55812.0
4         Andorra  2015     78011.0

In [38]:
pd.options.display.float_format = '{:,.2f}'.format

In [45]:
mask = df['Country'].isin(['Spain', 'Colombia'])
df1 = df[mask]

In [47]:
df1.set_index(['Country','year'])

                        pop
Country  year
Colombia 2015 47,520,667.00
Spain    2015 46,444,832.00
Colombia 2016 48,171,392.00
Spain    2016 46,483,569.00
Colombia 2017 48,901,066.00
Spain    2017 46,593,236.00
Colombia 2018 49,648,685.00
Spain    2018 46,723,749.00